.hero {
  height: 100vh; /* full screen */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.highlight {
  color: #38bdf8; /* accent color */
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #cbd5e1;
}

.btn {
  padding: 12px 25px;
  background: #38bdf8;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}
.hero-content h1 {
  font-size: 3rem;
}
.hero-content p {
  font-size: 1.2rem;
}



/* Mobile */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}
